* {
  box-sizing: border-box;
}

/* home */

.home-footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  z-index: 99;
  background-color: #5a5158;
  font-weight: 600;
  color: #d8f2da;
  padding: 10px 20px;
  text-align: center;
}

/* comment */
.comment-footer {
  position: fixed;
  bottom: 0px;
  height: 120px;
  width: 100%;
  z-index: 99;
  background-color: #5a5158;
  font-weight: 600;
  color: #d8f2da;
  padding-top: 10px;
  text-align: center;
}

.count{
  font-size: 11px;
}

.form-area{
  width: 80%;
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-area {
  font-weight: 600;
  background-color: #d8f2da;
  color: #5a5158;
  width: 70vw;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.photo{
  margin-right: 10px;
  height: 50px;
  padding: 5px 10px;
  border: #d8f2da 1px solid;
}

.photo:hover{
  color: #d8f0f2;
  border: #d8f0f2 1px solid;
}
