* {
  box-sizing: border-box;
}

/* home */

.home-footer {
  bottom: 0px;
  height: 50px;
  width: 100%;
  z-index: 99;
  background-color: #d8f2da;;
  font-weight: 600;
  color: #a5b1a6;
  padding: 10px 20px;
  text-align: center;
}

/* message_bord */

/* question_box */

/* message */



