<div class= 'all'>
  <%= render "shared/home_header" %>

  <div class='main'>
    掲示板サイト「Hooome🏠」へようこそ！🎉</br>
    <div class='caption'>
    🌟ピックアップ🌟</br>
    </div>
    <div class='pick_up'>
      <div class='left'>
        <ul class= 'lists'> 新規の掲示板</br>
          <li class= 'list'>・aaaaaa</li>
          <li class= 'list'>・掲示板(未実装)</li>
          <li class= 'list'>・質問箱(未実装)</li>
          <li class= 'list'>・メール(未実装)</li>
        </ul>
        <ul class= 'lists'> 更新された掲示板</br>
          <li class= 'list'>・aaaaaa</li>
          <li class= 'list'>・掲示板(未実装)</li>
          <li class= 'list'>・質問箱(未実装)</li>
          <li class= 'list'>・メール(未実装)</li>
        </ul>
      </div>
      <div class='right'>
        <ul class= 'lists'> 閲覧履歴</br>
          <li class= 'list'>・aaaaaa</li>
          <li class= 'list'>・掲示板(未実装)</li>
          <li class= 'list'>・質問箱(未実装)</li>
          <li class= 'list'>・メール(未実装)</li>
        </ul>
        <ul class= 'lists'> お気に入り</br>
          <li class= 'list'>・aaaaaa</li>
          <li class= 'list'>・掲示板(未実装)</li>
          <li class= 'list'>・質問箱(未実装)</li>
          <li class= 'list'>・メール(未実装)</li>
        </ul>
      </div>
    </div>
    <div class='caption'>
    🌟掲示板一覧🌟</br>
    </div>
    <ul class= 'lists'>
      <li class= 'list'>・aaaaaa</li>
      <li class= 'list'>・掲示板(未実装)</li>
      <li class= 'list'>・質問箱(未実装)</li>
      <li class= 'list'>・メール(未実装)</li>
    </ul>
  </div>

  <%= render "shared/home_footer" %>
</div>