<div class= 'all'>
  <%= render "shared/home_header" %>

  <div class='main'>
    掲示板作成
    <%= form_with  url: "#", class: 'user_form', local: true do |f| %>
      <%# render 'shared/error_messages', model: f.object %>
      <div class="actions">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>

  <%= render "shared/home_footer" %>
</div>