<div class= 'all'>
  <%= render "shared/home_header" %>

  <div class='main_show'>
    <div class='hoom_title'>
      ­ЪїЪ<%= @home.name %>­ЪїЪ
      <span class="side_right">
        <span class="lists">
          ТіЋуе┐УђЁ:
          <%= link_to @home.user.name, "#", class: "list_user"%>
        </span>
      </span>
    </div>
    <div class="comments">
      <div>
        1.
      </div>
      <div>
        main</br>
        main
      </div>
    </div>
    <div class="comments_info">
      тљЇтЅЇ ТЎѓжќЊ
    </div>

    
    <div class="comments">
      <div>
        1.
      </div>
      <div>
        main</br>
        main
      </div>
    </div>
    <div class="comments_info">
      тљЇтЅЇ ТЎѓжќЊ
    </div>
    
  </div>
  <%= render "shared/comment_footer" %>
</div>